.carousel-item img {
  margin-left: 10%;
  width: 30%;
  max-height:300px;
}

.carousel-caption{
  position:relative;
  text-align: justify;
  width: 30%;
  right: 0;
  left: 0;
  }
      
.active{
  display: flex; 
  justify-content: space-evenly;
}