.educacion-content{
    display: flex;
    justify-content: center;
    
}
.educacion-container h1{
    padding-left: 5%;
}
.educacion-content img{
    width: 10%;
    height: 10%;
    margin: 50px;
}
.educacion-content app-info-item{
    width: 60%;
    padding: 50px;
}