<h1 class="text-center text-lg-start ms-lg-5">Educacion</h1>
<div class="d-flex flex-column justify-content-between align-items-center">
  
    <div *ngFor="let item of items" class="container border border-4 border-info rounded-3 d-flex justify-content-center m-5 align-items-center row">
        <img [src]="item.imagen" class="img-sec col-6 col-md-4">
        <div class="col-12 col-md-8">
            <h1>{{item.nombre_institucion}} - {{item.titulo}}</h1>
            <p>{{item.descripcion}}</p>
            <div>
                <span>{{item.fecha_inicio}}</span> - <span>{{item.fecha_fin}}</span>
            </div>
        </div>

    </div>
</div>