
<button type="button" class="btn boton-editar" data-bs-toggle="modal" [attr.data-bs-target]="'#eExp'+exp.id"><fa-icon [icon]="faPen"></fa-icon></button>

<div class="modal fade" id="eExp{{exp.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Experiencia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formLogin" (submit)="sendExperiencia()">
          <div class="mb-6">
            <label for="nombre_empresa" class="form-label"><h1>Nombre Empresa</h1></label>
            <input type="text" class="form-control" id="nombre_empresa" aria-describedby="emailHelp" formControlName="nombre_empresa">
          </div>
          <div class="mb-6">
            <label for="cargo" class="form-label"><h1>Cargo</h1></label>
            <input type="text" class="form-control" id="cargo" aria-describedby="emailHelp" formControlName="cargo">
          </div>
          <div class="mb-6">
            <label for="fecha_inicio" class="form-label"><h1>Fecha Inicio</h1></label>
            <input type="text" class="form-control" id="fecha_inicio" aria-describedby="emailHelp" formControlName="fecha_inicio">
          </div>
          <div class="mb-6">
            <label for="fecha_fin" class="form-label"><h1>Fecha Fin</h1></label>
            <input type="text" class="form-control" id="fecha_fin" aria-describedby="emailHelp" formControlName="fecha_fin">
          </div>
          <div class="mb-6">
            <label for="descripcion" class="form-label"><h1>Descripcion</h1></label>
            <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
          </div>
          <div class="mb-6">
            <label class="form-label" for="imagen"><h1>Logo</h1></label>
            <input type="url" class="form-control" id="imagen" formControlName="imagen">
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" [disabled]="formLogin.invalid" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>