.experiencia-content{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: medium;
    border-color: aqua;
    border-radius: 5px;
}
.experiencia-container{
    border-style: solid;
    border-width: medium;
    border-color: aqua;
    border-radius: 5px;
}
.experiencia-content img{
    width: 10%;
    height: 10%;
    margin: 50px;
}
.experiencia-content {
    width: 60%;
    padding: 50px;
}