.haso-container{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left: 10%;
}

.haso-content{
    margin-left: 50px;
    margin-right: 50px;
}

.edit-buttons{
    display: flex;
    justify-content: space-between;
}