<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <div class="dropdown-menu">
    <form class="px-4 py-3" [formGroup]="formLogin" (submit)="send()">
      <div class="mb-3">
        <label for="exampleDropdownFormEmail1" class="form-label">Username: </label>
        <input id="user" type="text" class="form-control" formControlName="user">
      </div>
      <div class="mb-3">
        <label for="exampleDropdownFormPassword1" class="form-label">Password: </label>
        <input id="password" type="password" class="form-control" formControlName="password">
      </div>
      <button [disabled]="formLogin.invalid" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>