<div class="btn-group">
  <button *ngIf="!logStatus" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <div class="dropdown-menu">
    <form class="px-4 py-3" [formGroup]="formLogin" (ngSubmit)="send($event)">
      <div class="mb-3">
        <label for="exampleDropdownFormEmail1" class="form-label">Usuario: </label>
        <input id="user" type="text" class="form-control" formControlName="user">
      </div>
      <div class="mb-3">
        <label for="exampleDropdownFormPassword1" class="form-label">Contraseña: </label>
        <input id="password" type="password" class="form-control" formControlName="password">
      </div>
      <button [disabled]="formLogin.invalid" class="btn btn-primary">Ingresar</button>
    </form>
  </div>


  <button *ngIf="logStatus" type="button" class="btn btn-secondary" (click)="logout()">
    <fa-icon [icon]="faDungeon"></fa-icon>
  </button>
</div>