<div class="btn-group">
  <button *ngIf="!logStatus" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>


  <div class="modal fade text-body" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="px-4 py-3" [formGroup]="formLogin">
            <div class="mb-3">
              <label for="dropdownEmail" class="form-label">Usuario: </label>
              <input id="user" type="text" class="form-control" formControlName="email">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors?.['required']"> Usuario Requerido </div>
                <div *ngIf="email.errors?.['minlength']"> Ingresa Al Menos 4 Caracteres </div>
              </div>
              <div class="mb-3">
                <label for="dropdownPassword" class="form-label">Contraseña: </label>
                <input id="password" type="password" class="form-control" formControlName="password">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                  <div *ngIf="password.errors?.['required']"> Contraseña Requerida </div>
                  <div *ngIf="password.errors?.['minlength']"> Contraseña Muy Corta </div>
                </div>
              </div>
              <button [disabled]="formLogin.invalid" data-bs-dismiss="modal" class="btn btn-primary" (click)="login()">Ingresar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <button *ngIf="logStatus" type="button" class="btn btn-secondary" (click)="logout()">
    <fa-icon [icon]="faDungeon"></fa-icon>
  </button>
</div>