.header-banner{
    position: relative;
    justify-content: center;
    background-size:cover;
}

.img-acerca-de{
    border-radius: 50%;
    margin-top: -80px;
    width: 235px;
    position: relative;
}

.img-fluid {
    width: 100%;
    height: 400px;
}