<h1>Experiencia</h1>
<div class="seccion-container">
  

    <app-add-secc (onAddExp)="addExperiencia($event)"></app-add-secc>
    <div *ngFor="let exp of experiencias" class="seccion-content">
        <img [src]="exp.imagen" >
        <div class="descrip-content">
            <h1>{{exp.cargo}}</h1>
            <p>{{exp.descripcion}}</p>
        </div>
        <app-edit-secc (onEditExp) = "editExperiencia($event)" [exp]="exp"></app-edit-secc>
        <app-delete-secc (onDeleteExp) = "deleteExperiencia(exp)"  [exp]="exp"></app-delete-secc>
    </div>
</div>
