<div class="acerca_de_container">
    <div class="acerca_de_perfil">
        <img src="https://www.magneticmag.com/.image/t_share/MTkyNjE2ODg3NDEzMTIyODA5/world-of-warcraft-wallpapers1.webp" class="img-acerca-de" alt="perfil">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet praesentium exercitationem eos deserunt cumque odio fugit blanditiis ducimus numquam? Hic et, maiores obcaecati harum accusantium sint aliquam esse fugit fuga!</p>

    </div>
    <div class="acerca_de_mi">
        <h1>Junior FullStack Developer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero nostrum mollitia consequatur rerum suscipit nisi delectus quaerat! Dolorum et nesciunt incidunt fugiat hic similique? Voluptate dolore perferendis nihil neque exercitationem.</p>
    </div>

</div>
