.acerca_de_perfil{
    width: 20%;
    margin: 50px;
}
.acerca_de_perfil p{
    margin: 15px;
}
.acerca_de_mi{
    width: 60%;
    margin: 60px;
}

.img-acerca-de{
    border-radius: 50%;
    margin-top: -80px;
    width: 100%;
}

.acerca_de_container{
    display: flex;
    justify-content: center;
}