body{
    background:#9abcd4;  
    font-family:Arial, Helvetica, sans-serif;
    color:antiquewhite;
}

h2, h1{
    background: linear-gradient(to right, #e3f2fd, #1565c0 60%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form).ng-touched{
    border-left: 5px solid #a94442; /* red */
}