.boton-editar{
    background-color:burlywood;
    border-color: beige;
    color: grey;
    font-size: medium;
    display: flex;
    align-items: center;
}

h1{
    background: none;
    -webkit-text-fill-color:black;
}