
.content-cent{
    top: 20%;
    left: 20%;
}
.nav{
    background-color: gray;
    border-radius: 3%;
}
.nav-link{
    color: black;
}
.editContent{
    width: 90%;
    background-color:rgb(42, 120, 165);
    position: relative;
}


