
.content-cent{
    top: 20%;
    left: 20%;
}
.nav{
    background-color: gray;
    border-radius: 3%;
}
.nav-link{
    color: black;
}
.editContent{
    width: 70%;
    background-color:rgb(42, 120, 165);
    position: relative;
}
.boton-editar{
    position: absolute;
    top: 0;
    left: 90%;
    background-color:burlywood;
    border-color: beige;
    color: grey;
}

.modal-dialog{
    max-width: 70%;
}