
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#eskill">Agregar <fa-icon [icon]="faPlus"></fa-icon></button>

<div class="modal fade" id="eskill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Habilidad</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formLogin" (submit)="sendHabilidad()">
          <div class="mb-3">
            <label for="nombre_habilidad" class="form-label"><h1>Habilidad</h1></label>
            <input type="text" class="form-control" id="nombre_habilidad" aria-describedby="emailHelp" formControlName="nombre_habilidad">
          </div>
          <div class="mb-3">
            <label for="nivel" class="form-label"><h1>Nivel</h1></label>
            <input type="text" class="form-control" id="nivel" formControlName="nivel">
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" [disabled]="formLogin.invalid" data-bs-dismiss="modal">Submit</button>
          </div>     
        </form>
      </div>
    </div>
  </div>
</div>